*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	width: 1920px;
	height: 1080px;
}

#hello{
	background-color:#FFF;
}

video {
  width: 200px;
  height: 112px;
  border: 1px solid black;
}

.video-container {
  display: inline-block;
  text-align: center;
}

p {
  font: 14px Arial;
}