<script  id="sidebar-tpl" type="text/x-template">
      <div class="play">
        <div class="backdrop-image" style="background-image:url(<%= this.model.get('backdrop') %>);"></div>

        <div class="movie-detail">
          <div class="closer"><i class="fa fa-times"></i></div>
          <div class="poster-cont">
            <div class="poster-inner">
              <div class="poster">
            <img class="big-poster" src="<%= bigImage %>" alt="<%= title %>" />
          </div>

              <ul class="movie-config">
              <% if (this.model.get('quality') && this.model.get('torrents')) { %>
                <li class="options quality-cont">
                  <h4><%= i18n.__('quality') %></h4>
                  <% if (this.model.get('torrents')["720p"] && this.model.get('torrents')["1080p"]) { %>
                    <div class="quality switch white">
                      <input type="radio" name="switch" id="switch-off"<% if (this.model.get('quality') === '720p') { %> checked<% } %>>
                      <input type="radio" name="switch" id="switch-on"<% if (this.model.get('quality') === '1080p') { %> checked<% } %>>
                      <label for="switch-off">720p</label>
                      <label for="switch-on">1080p</label>
                      <span class="toggle"></span>
                    </div>
                  <% } else { %>
                    <span class="quality-off"><%= quality %></span>
                  <% } %>
                </li>
              <% } %>
              </ul>
            </div>
          </div>

          <div class="side-content">
            <div class="title">
              <h2><%= title %></h2>

              <ul class="movie-quick-info">
                <li>
                  <%= year %>
                </li>
                <li>
                  <% if(this.model.has('resumetime')) { %>
                    <span class="duration"><%= runtime - (resumetime/60|0) %>m left</span>
                  <% } else if (this.model.get('runtime')) { %>
                    <span class="duration"><%= runtime %> <%= i18n.__('durationUnit') %></span>
                  <% } %>
                </li>
              </ul>

              <i data-placement="left" data-toggle="tooltip" title="<%= health %> health" class="health <%= health %> fa fa-flash"></i>

              <% var p_rating = this.model.get('voteAverage') ? this.model.get('voteAverage').toFixed(1) : 0.0 %>
              <div class="rating">
                <ul class="votes" title="<%= p_rating %> / 10">
                  <% p_rating = Math.round(p_rating) / 2; // Roundoff number to nearest 0.5 %>
                  <% for (var i = 1; i <= Math.floor(p_rating); i++) { %>
                    <i class="fa fa-star"></i>
                  <% }; %>
                  <% if (p_rating % 1 > 0) { %>
                    <i class="fa fa-star-half-o"></i>
                  <% }; %>
                  <% for (var i = Math.ceil(p_rating); i < 5; i++) { %>
                    <i class="fa fa-star-o"></i>
                  <% }; %>
                </ul>
              </div>
            </div>

            <p><%= synopsis %></p>

            <div class="subtitles-list">
            <% if ( ! _.isEmpty(subtitles) ) { %>
              <h4><%= i18n.__('subtitledIn') %></h4>

              <ul>
                <% if (typeof subtitles !== 'undefined') { %>
                  <li>
                    <% for (var i = 0, keys = _.keys(subtitles), l = keys.length; i < l; ++i) { %>
                      <span class="flag flag-<%= keys[i] %>" title="<%= App.Localization.languages[keys[i]].display %>"></span>
                    <% } %>
                  </li>
                <% } %>
              </ul>
            <% } %>
            </div>

            <% if (this.model.get('torrents')) { %>
              <a href="" class="p_tooltip play-button" disabled="disabled"><%= i18n.__('watchItNow') %></a>
            <% } %>
          </div>
        </div>
      </div>
</script>